.span8.offset2
  .statistics
    .span4
      // linediv-l and linediv-r give dividing lines that look different in
      // horizontal and vertical layouts, illustrating media queries
      .linediv-l
        h3 2
        p backers
    .span4
      .linediv-c
        h3
          i.icon-btc 5
        p of &nbsp;
          i.icon-btc 1000
    .span4
      .linediv-r
        h3 30
        p days left

.span10.offset1
  <!-- Boostrap progress bar -->
  <!-- http://twitter.github.io/boostrap/components.html#progress -->
  .thermometer.progress.active
    .bar.bar-success(style="width: 10%;")
    .bar.bar-warning(style="width: 90%;")

.span6.offset3.order
  // Coinbase button
  include _coinbase_button

.span8.offset2.social
  include _add_this
