// AddThis Button BEGIN
.addthis_toolbox.addthis_default_style
  a.addthis_button_facebook_like(fb:like:layout="button_count")
  a.addthis_button_tweet
  a.addthis_button_google_plusone(g:plusone:size="medium")
script(type="text/javascript") var addthis_config = {"data_track_addressbar":true};
script(type="text/javascript",src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ffec241de1b6bf")
// AddThis Button END 
