a(class="coinbase-button",data-code="c6ea24ee6284dadc48b726b0258d8cba",data-button-style="custom_large",href="https://coinbase.com/checkouts/c6ea24ee6284dadc48b726b0258d8cba") Donate Bitcoins
script(type="text/javascript",src="https://coinbase.com/assets/button.js")
