extends layout

block styles
  link(rel="stylesheet",type="text/css",href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css")
  != css('index')

block scripts
  != js('index')

block content
  .hero-unit
    .container
      .row-fluid
        .span6
          h1 BitMarket
          // Special typeography from Boostrap for lead paragraph.
          // http://twitter.github.io/boostrap/base-css.html#typography
          p.lead Buying and selling locally made easy.

        // We define a new 'actions' div to contain statistics, order and share buttons.
        .span6.actions.hidden-phone
          include _actions

  // We use row-fluid inside containers to achieve a resizable layout.
  // blogs.edjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/
  // http://stackoverflow.com/a/12270322
  .container
    .row-fluid
      .span4
        .card
          h3.card-heading.simple.
            When was the last time you used Craigslist?
          .card-body
            p  Think about it...
            ul
              li How much work was it to list your item, or to find what you want?
              li How was the communication with the seller/buyer, and how much hassle
            was meeting up?
              li Was it a good experience?
            p.
              We think this market is ripe for some innovation. Buying and selling
              your stuff to friends and local people should be so simple you can do
              it on your way from the bedroom to the kitchen, before you even had
              breakfast.

      .span4
        .card
          h3.card-heading.simple.
            Why?
          .card-body
            p.
              The online marketplace for locally buying and selling used and no longer
              needed "stuff" is long overdue for innovation. Currently, it is being
              dominated by two big players, Craigslist (classifieds) and eBay (auctions).
              The former is actively <a href="http://pandodaily.com/2012/05/30/craigslist-is-squashing-innovation-and-were-letting-it-happen/" target="_blank">
              trying to squash innovation</a>, while the latter used to be
              leading innovation (e.g. PayPal), but no longer has to do so because
              it is virtually without competitors, ever since it vertically integrated
              the entire process.

      .span4
        .card
          h3.card-heading.simple.
            What's different about BitMarket?
          .card-body
            p Our goal is to disrupt this market with a new approach:
            ul
              li fast
              li fair
              li convenient
              li local
            p.
              Buy and sell your stuff with other people in the
              neighborhood, quickly and securely. Our approach is mobile-first,
              location-based, and will make Craigslist look in comparison like a rotary-dial
              phone next to an iPhone.

    .row-fluid
      // We define a new 'actions' div to contain statistics, order and share buttons.
      .span6.actions.visible-phone
        include _actions

    // For the FAQ, we introduce a little bit of JS, using the accordion.
    // This brings in jquery.js and boostrap.js as dependencies
    // http://twitter.github.io/bootstrap/javascript.html#collapse
    .row-fluid.faq
      .span10.offset1
        include _faq
