extends layout

block styles
  link(rel="stylesheet",type="text/css",href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css")
  != css('index')

block scripts
  != js('index')

block content
  .hero-unit
    .container
      .row-fluid
        .span6
          h1 BitMarket
          // Special typeography from Boostrap for lead paragraph.
          // http://twitter.github.io/boostrap/base-css.html#typography
          p.lead Buying and selling locally made easy.

        // We define a new 'actions' div to contain statistics, order and share buttons.
        .span6.actions.hidden-phone
          include _actions

  // We use row-fluid inside containers to achieve a resizable layout.
  // blogs.edjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/
  // http://stackoverflow.com/a/12270322
  a#about
  .container
    .row-fluid
      .span4
        .card
          h3.card-heading.simple.
            What?
          .card-body
            p.
              BitMarket is an app that lets you buy &amp; sell your stuff locally, 
              right within your community. No more mailing things halfway across the
              country (like eBay), or driving all the way across town to pick up
              something you bought on Craigslist.
            p.
              We'll let you browse what's for sale right now, right where you live.
            p.
              It's like going to your neighborhood yard sale, but online!

      .span4
        .card
          h3.card-heading.simple.
            Why?
          .card-body
            p.
              The online marketplace for locally buying and selling used and no longer
              needed "stuff" is long overdue for innovation.
            p.
              Currently, it is being dominated by two big players, Craigslist and eBay.
            p.
              The former is actively <a href="http://pandodaily.com/2012/05/30/craigslist-is-squashing-innovation-and-were-letting-it-happen/" target="_blank">
              trying to squash innovation</a>, while the latter used to be innovating,
              but has long ago forgot how to do so.
            p.
              New websites like <a href="http://www.airbnb.com">AirBNB</a>
              have sprung up to fill the gap in certain niches where Craigslist
              is lacking, we're going for the filet mignon: buying &amp; selling
              your no longer needed stuff.

      .span4
        .card
          h3.card-heading.simple.
            How?
          .card-body
            p Our goal is to disrupt this market with a new approach:
            ul
              li fast
              li convenient
              li local
              li fair
            p.
              Buy and sell your stuff with other people in the
              neighborhood, quickly and securely.
            p.
              Our approach is mobile-first, location-based, and will make Craigslist
              look in comparison like a rotary-dial phone next to an iPhone 5.

    .row-fluid
      // We define a new 'actions' div to contain statistics, order and share buttons.
      .span6.actions.visible-phone
        include _actions

    a#contact
    .row-fluid.contact
      .span10.offset1
        h3 Contact
        p Follow us on Twitter:&nbsp;
          a(href="http://twitter.com/BitmarketApp") @BitmarketApp


    // For the FAQ, we introduce a little bit of JS, using the accordion.
    // This brings in jquery.js and boostrap.js as dependencies
    // http://twitter.github.io/bootstrap/javascript.html#collapse
    .row-fluid.faq
      .span10.offset1
        include _faq
